body{
  background-color: white;
}

.container
{
  margin: 0;
  margin-top: 100px;
}


.button-primary
{
  margin-left: 220px;
}


.alabel {
  display: inline-block;
  width : 30%;
}

.topnav {
    text-align: center;
    color: white;
    height: 40px;
    width: 100%;
    background-color: #333;
}
.head{
  margin-bottom: 30px;
}
